node_modules/
.gemini/
.DS_Store
Thumbs.db
Fotos/Grupo Kabat/Video ai/LPR.mov
Fotos/Grupo Kabat/Video ai/dispatch.mp4
Fotos/Grupo Kabat/Video ai/video.mp4
Fotos/Grupo Kabat/Video ai/video_comunicacion_pantallas.mp4